In [1]:
import os
import pandas as pd
import numpy as np
import datetime
from math import sqrt, pow, acos
from pandas.core.frame import DataFrame
folder_name = ["077102", "078351", "078837", "080913", "082529",
                            "090798", "098840", "108140", "112839"]
filename_extenstion = '.csv'
datasetpath = "D:/RX-105/wakeup/dataset/"
datapath = 'D:/RX-105/wakeup/data/'
eventpath = "D:/RX-105/wakeup/MyJuneAndEmbedding/event/"

df = pd.read_csv(datasetpath + '077102' + '/' + '20200910' + filename_extenstion,
                 encoding='gbk')
df

,Unnamed: 0,No.,采集时间,脉冲车速(km/h),油门踏板开度(%),刹车,纬度,经度,高度,转速(转/分),总里程(KM)
0,0,77102,20200910003900,4.0,0.0,NaN,35.749065,114.987006,40.0,NaN,NaN
1,1,77102,20200910013900,4.0,0.0,NaN,35.749172,114.986916,53.0,NaN,NaN
2,2,77102,20200910023900,4.0,0.0,NaN,35.749160,114.986871,47.0,NaN,NaN
3,3,77102,20200910033900,4.0,0.0,NaN,35.749029,114.986864,49.0,NaN,NaN
4,4,77102,20200910045001,4.0,0.0,NaN,NaN,NaN,NaN,700.0,35136.0
...,...,...,...,...,...,...,...,...,...,...,...
45041,45041,77102,20200910235954,45.0,0.0,NaN,NaN,NaN,NaN,920.0,35551.8
45042,45042,77102,20200910235955,45.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
45043,45043,77102,20200910235956,45.0,0.0,NaN,NaN,NaN,NaN,920.0,35551.8
45044,45044,77102,20200910235957,44.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN
45045,45045,77102,20200910235958,44.0,0.0,NaN,35.771257,114.281969,94.0,900.0,35551.8

In [2]:
for i in range(4):
    df.drop(labels=i,inplace=True)
df

,Unnamed: 0,No.,采集时间,脉冲车速(km/h),油门踏板开度(%),刹车,纬度,经度,高度,转速(转/分),总里程(KM)
4,4,77102,20200910045001,4.0,0.0,NaN,NaN,NaN,NaN,700.0,35136.0
5,5,77102,20200910045003,5.0,0.0,NaN,35.750980,114.970816,37.0,620.0,35136.0
6,6,77102,20200910045005,7.0,0.0,NaN,NaN,NaN,NaN,660.0,35136.0
7,7,77102,20200910045007,6.0,0.0,NaN,NaN,NaN,NaN,660.0,35136.0
8,8,77102,20200910045008,6.5,0.0,NaN,35.751027,114.970751,36.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
45041,45041,77102,20200910235954,45.0,0.0,NaN,NaN,NaN,NaN,920.0,35551.8
45042,45042,77102,20200910235955,45.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
45043,45043,77102,20200910235956,45.0,0.0,NaN,NaN,NaN,NaN,920.0,35551.8
45044,45044,77102,20200910235957,44.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN
45045,45045,77102,20200910235958,44.0,0.0,NaN,35.771257,114.281969,94.0,900.0,35551.8

In [3]:
df.reset_index(drop=True,inplace=True)
df

,Unnamed: 0,No.,采集时间,脉冲车速(km/h),油门踏板开度(%),刹车,纬度,经度,高度,转速(转/分),总里程(KM)
0,4,77102,20200910045001,4.0,0.0,NaN,NaN,NaN,NaN,700.0,35136.0
1,5,77102,20200910045003,5.0,0.0,NaN,35.750980,114.970816,37.0,620.0,35136.0
2,6,77102,20200910045005,7.0,0.0,NaN,NaN,NaN,NaN,660.0,35136.0
3,7,77102,20200910045007,6.0,0.0,NaN,NaN,NaN,NaN,660.0,35136.0
4,8,77102,20200910045008,6.5,0.0,NaN,35.751027,114.970751,36.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
45037,45041,77102,20200910235954,45.0,0.0,NaN,NaN,NaN,NaN,920.0,35551.8
45038,45042,77102,20200910235955,45.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
45039,45043,77102,20200910235956,45.0,0.0,NaN,NaN,NaN,NaN,920.0,35551.8
45040,45044,77102,20200910235957,44.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN
45041,45045,77102,20200910235958,44.0,0.0,NaN,35.771257,114.281969,94.0,900.0,35551.8

In [4]:
df.drop(labels='Unnamed: 0',axis=1,inplace=True)

In [5]:
df

,No.,采集时间,脉冲车速(km/h),油门踏板开度(%),刹车,纬度,经度,高度,转速(转/分),总里程(KM)
0,77102,20200910045001,4.0,0.0,NaN,NaN,NaN,NaN,700.0,35136.0
1,77102,20200910045003,5.0,0.0,NaN,35.750980,114.970816,37.0,620.0,35136.0
2,77102,20200910045005,7.0,0.0,NaN,NaN,NaN,NaN,660.0,35136.0
3,77102,20200910045007,6.0,0.0,NaN,NaN,NaN,NaN,660.0,35136.0
4,77102,20200910045008,6.5,0.0,NaN,35.751027,114.970751,36.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
45037,77102,20200910235954,45.0,0.0,NaN,NaN,NaN,NaN,920.0,35551.8
45038,77102,20200910235955,45.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
45039,77102,20200910235956,45.0,0.0,NaN,NaN,NaN,NaN,920.0,35551.8
45040,77102,20200910235957,44.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN
45041,77102,20200910235958,44.0,0.0,NaN,35.771257,114.281969,94.0,900.0,35551.8

In [6]:
df.to_csv(datasetpath + '077102' + '/' + '20200910fix' + filename_extenstion,
                 encoding='gbk')